name: "Export and Deploy"
on: 
  push:
    branches: [main]

env:
  GODOT_VERSION: 4.5.1
  ITCH_USERNAME: danigeri
  ITCH_GAME_ID: sandbox

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:4.5.1
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Templates
        run: |
          mkdir -p ~/.local/share/godot/export_templates/
          cp -r /root/.local/share/godot/export_templates/*.stable ~/.local/share/godot/export_templates/${{ env.GODOT_VERSION }}.stable

      - name: Export Web
        run: |
          mkdir -p build/web
          godot --headless --verbose --export-release "Web" build/web/index.html

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-export
          path: build/web
          
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: web-export
          path: build/web

      - name: Install Butler
        uses: jdno/setup-butler@v1

      - name: Push to Itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
        run: |
          butler push build/web ${{ env.ITCH_USERNAME }}/${{ env.ITCH_GAME_ID }}:html5
